#aside {	
line-height:40px;
background-color:rgb(95, 30, 155);
height:560px;
width:200px;
float:left;
margin: 0px;
padding:20px;
font-family: verdana;
font-size: 450%;
text-align:center;
color: white;
}

#section {
	line-height:20px;
	background-color:rgba(212, 185, 185, 0.507);
	height:600px;	
	width:940px;
	float:right;
	margin: 100px;
	padding:0px;	 
	font-family: sans-serif;
	color: rgba(0, 0, 0, 0.363);
}

h1   {
color:rgb(219, 21, 87);
font-family: verdana;
font-size: 350%;
text-align:left;
}

p   {
	color:rgba(0, 0, 0, 0.473);
	font-family: courier;
	font-size: 80%;
	text-align:justify;
}
body {
	background-color:rgb(221, 221, 221);
	margin: 10px;
	padding:20px;
	border-radius: 10em;
}
/*form {
	color: gray;
	font-family: monospace;
	font-size: 100%;
	}*/
	.main--form {
		display: flex;
		flex-flow: row wrap;
		align-items: center;
	}

	.main--form input {
		width: 100%;
		padding: 12px 20px;
		margin: 8px 0;
		display: inline-block;
		border: 1px solid #ccc;
		border-radius: 4px;
		box-sizing: border-box;
		font-family: courier;
	}

	.left {
		width: 40%;
		margin-right: 5%;
		margin-left: 5%;
	}

	.right {
		width: 40%;
		margin-right: 5%;
		margin-left: 5%;
	}
button {
	border: none;
	padding: 10px 20px;
	margin: 10px 0;
	border-radius: 0em;
	background-color: rgba(0, 0, 255, 0.664);
	font-family: courier;
	color: #ffffff;
	opacity: 0.9;
	width: 20%;
	cursor: pointer;
	float: inline-start;
}
.flex-container {
	display: flex;
	height: 40px;
  align-items: center;
	flex-wrap: wrap;
	flex-direction: column-reverse;
	justify-content: flex-start;
	justify-content: space-between;
}
.flex-container > div {
	background-color:rgba(169, 169, 169, 0.507);
  margin: 20px;
  padding: 10px;
	font-size: 12px;
}
